%ul.breadcrumb
  %li
    = link_to 'Home', admin_root_path
    
  %li.active Extensions

.page-header
  %h1 Extensions

%p
  Extensions add additional functionality to your app.  Manage your extensions
  here.

.alert
  %i.fa.fa-info
  %strong No extensions installed.
